.divider {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #6BFF4F;
  margin: 1.5rem 0;
  transform-origin: left;
}

.drip {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 4px;
  height: 12px;
  background-color: #6BFF4F;
  transform: translateX(-50%);
  border-radius: 0 0 2px 2px;
}
